/positibelabs.com/app/config/parameters.yml
/positibelabs.com/build/
/positibelabs.com/phpunit.xml
/positibelabs.com/var/*
!positibelabs.com/var/cache
/positibelabs.com/var/cache/*
!positibelabs.com/var/cache/.gitkeep
!positibelabs.com/var/logs
/positibelabs.com/var/logs/*
!positibelabs.com/var/logs/.gitkeep
!positibelabs.com/var/sessions
/positibelabs.com/var/sessions/*
!positibelabs.com/var/sessions/.gitkeep
!positibelabs.com/var/SymfonyRequirements.php
/positibelabs.com/vendor/
/public_html/bundles/
/public_html/assets/
/public_html/css/
/public_html/js/
