<section class="section">
    <div class="divider-new section-heading">
        <h2 class="h2-responsive wow bounceIn"
            style="visibility: visible; animation-name: bounceIn;">{{ content.title }}</h2>
    </div>
    <div class="text-center wow bounceIn" data-wow-delay="0.2s"
         style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">
        {{ content.body | raw }}
    </div>
</section>
